body{
  width:100%;
}
.table{
  display: grid;
  grid-template-rows: repeat(100, 1fr);
}
.row{
  display: grid; 
  grid-template-columns: repeat(100, 1fr);
}
.box{
  text-align: center;
  width:20px;
  height: 20px;
  border: 1px solid;
  border-color: black;
}

.button-panel{
  display: flex;
  width:100%;
  justify-content: space-between;
}
button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.modal{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}